In [1]:
import pandas as pd
import numpy as np

In [15]:
# Importing dataset
housing_madrid_cleaned = pd.read_csv("housing_madrid_cleaned.csv")
pd.set_option("display.max_columns", None)
housing_madrid_cleaned.head()

,subtitle,sq_mt_built,n_rooms,n_bathrooms,n_floors,sq_mt_allotment,floor,neighborhood_id,buy_price,house_type_id,is_renewal_needed,built_year,has_ac,has_fitted_wardrobes,has_lift,has_garden,has_pool,has_terrace,has_balcony,has_storage_room,has_green_zones,has_parking,is_parking_included_in_price,parking_price,is_orientation_north,is_orientation_west,is_orientation_south,is_orientation_east,district
0,"San Cristóbal, Madrid",64.0,2,1,0,0.0,3,135,85000.0,HouseType 1: Pisos,False,1960,True,False,False,False,False,False,False,False,False,False,False,0.0,False,True,False,False,Villaverde (21)
1,"Los Ángeles, Madrid",70.0,3,1,0,0.0,4,132,129900.0,HouseType 1: Pisos,True,1969,False,True,True,False,False,True,False,False,False,False,False,0.0,False,False,False,False,Villaverde (21)
2,"San Andrés, Madrid",94.0,2,2,0,0.0,1,134,144247.0,HouseType 1: Pisos,False,1969,False,True,True,False,False,False,False,True,False,False,False,0.0,False,False,False,False,Villaverde (21)
3,"San Andrés, Madrid",64.0,2,1,0,0.0,0,134,109900.0,HouseType 1: Pisos,False,1955,False,False,True,False,False,False,False,True,False,False,False,0.0,False,False,True,False,Villaverde (21)
4,"Los Rosales, Madrid",108.0,2,2,0,0.0,4,133,260000.0,HouseType 1: Pisos,False,2003,True,True,True,False,True,False,False,True,True,True,True,0.0,True,True,True,True,Villaverde (21)

In [11]:
# Define the neighborhood to zip code mapping

neighborhood_zipcode_mapping = {
    'Arganzuela (1)': 28045,
    'Barajas (2)': 28042,
    'Carabanchel (3)': 28025,
    'Centro (4)': 28012,
    'Chamartín (5)': 28036,
    'Chamberí (6)': 28010,
    'Ciudad Lineal (7)': 28017,
    'Fuencarral (8)': 28034,
    'Hortaleza (9)': 28033,
    'Latina (10)': 28047,
    'Moncloa (11)': 28040,
    'Moratalaz (12)': 28030,
    'Puente de Vallecas (13)': 28053,
    'Retiro (14)': 28009,
    'Salamanca (15)': 28001,
    'San Blas-Canillejas': 28022,
    'Tetuán (17)': 28020,
    'Usera (18)': 28026,
    'Vicálvaro (19)': 28032,
    'Villa de Vallecas (20)': 28031,
    'Villaverde (21)': 28021
}

# Map neighborhood names to zip codes in housing_madrid DataFrame
housing_madrid_cleaned['zip_codes'] = housing_madrid_cleaned['district'].map(neighborhood_zipcode_mapping)
housing_madrid_cleaned

,subtitle,sq_mt_built,n_rooms,n_bathrooms,n_floors,sq_mt_allotment,floor,neighborhood_id,operation,buy_price,house_type_id,is_renewal_needed,built_year,has_ac,has_fitted_wardrobes,has_lift,has_garden,has_pool,has_terrace,has_balcony,has_storage_room,has_green_zones,has_parking,is_parking_included_in_price,parking_price,is_orientation_north,is_orientation_west,is_orientation_south,is_orientation_east,district,zip_codes
0,"San Cristóbal, Madrid",64.0,2,1,0,0.0,3,135,sale,85000.0,HouseType 1: Pisos,False,1960,False,False,False,False,False,False,False,False,False,False,False,0.0,False,False,False,False,Villaverde (21),28021
1,"Los Ángeles, Madrid",70.0,3,1,0,0.0,4,132,sale,129900.0,HouseType 1: Pisos,True,1969,False,False,False,False,False,False,False,False,False,False,False,0.0,False,False,False,False,Villaverde (21),28021
2,"San Andrés, Madrid",94.0,2,2,0,0.0,1,134,sale,144247.0,HouseType 1: Pisos,False,1969,False,False,False,False,False,False,False,False,False,False,False,0.0,False,False,False,False,Villaverde (21),28021
3,"San Andrés, Madrid",64.0,2,1,0,0.0,0,134,sale,109900.0,HouseType 1: Pisos,False,1955,False,False,False,False,False,False,False,False,False,False,False,0.0,False,False,False,False,Villaverde (21),28021
4,"Los Rosales, Madrid",108.0,2,2,0,0.0,4,133,sale,260000.0,HouseType 1: Pisos,False,2003,False,False,False,False,False,False,False,False,False,True,False,0.0,False,False,False,False,Villaverde (21),28021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21595,"Barajas, Madrid",78.0,2,2,0,0.0,4,10,sale,350000.0,HouseType 5: Áticos,False,2020,False,False,False,False,False,False,False,False,False,True,False,0.0,False,False,False,False,Barajas (2),28042
21596,"Barajas, Madrid",96.0,2,2,0,0.0,3,9,sale,425000.0,HouseType 1: Pisos,False,2002,False,False,False,False,False,False,False,False,False,True,False,0.0,False,False,False,False,Barajas (2),28042
21597,"Barajas, Madrid",175.0,4,2,0,0.0,0,9,sale,680000.0,HouseType 1: Pisos,False,2002,False,False,False,False,False,False,False,False,False,True,False,0.0,False,False,False,False,Barajas (2),28042
21598,"Campo de las Naciones-Corralejos, Madrid",289.0,4,3,3,304.0,1,9,sale,695000.0,HouseType 2: Casa o chalet,False,1981,False,False,False,False,False,False,False,False,False,True,False,0.0,False,False,False,False,Barajas (2),28042
21599,"Imperial, Madrid",72.0,2,2,0,0.0,1,3,sale,424000.0,HouseType 1: Pisos,False,1969,False,False,False,False,False,False,False,False,False,True,False,0.0,False,False,False,False,Arganzuela (1),28045

In [12]:
housing_madrid_cleaned.to_csv('housing_madrid_zip_codes.csv', index=False)

In [14]:
import requests

headers = {
    'Accept': 'application/json, application/geo+json, application/gpx+xml, img/png; charset=utf-8',
}
call = requests.get('https://api.openrouteservice.org/geocode/autocomplete?api_key=5b3ce3597851110001cf6248ff3d30bd4084469e9440fed7dfb5f86a&text=Toky', headers=headers)

print(call.status_code, call.reason)
print(call.text)

200 OK
{"geocoding":{"version":"0.2","attribution":"https://openrouteservice.org/terms-of-service/#attribution-geocode","query":{"text":"Toky","parser":"pelias","parsed_text":{"subject":"Toky"},"size":10,"layers":["venue","street","country","macroregion","region","county","localadmin","locality","borough","neighbourhood","continent","empire","dependency","macrocounty","macrohood","microhood","disputed","postalcode","ocean","marinearea"],"private":false,"lang":{"name":"English","iso6391":"en","iso6393":"eng","via":"default","defaulted":true},"querySize":20},"warnings":["performance optimization: excluding 'address' layer"],"engine":{"name":"Pelias","author":"Mapzen","version":"1.0"},"timestamp":1720108633887},"type":"FeatureCollection","features":[{"type":"Feature","geometry":{"type":"Point","coordinates":[139.75391,35.695126]},"properties":{"id":"102031307","gid":"whosonfirst:locality:102031307","layer":"locality","source":"whosonfirst","source_id":"102031307","name":"Tokyo","accuracy":"centroid","country":"Japan","country_gid":"whosonfirst:country:85632429","country_a":"JPN","region":"Tokyo","region_gid":"whosonfirst:region:85672817","region_a":"TK","county":"Chiyoda","county_gid":"whosonfirst:county:1108741679","locality":"Tokyo","locality_gid":"whosonfirst:locality:102031307","continent":"Asia","continent_gid":"whosonfirst:continent:102191569","label":"Tokyo, Japan","addendum":{"concordances":{"dbp:id":"Tokyo","fb:id":"en.tokyo","fct:id":"1340f35c-8f76-11e1-848f-cfd5bf3ef515","gn:id":1850147,"gp:id":1118370,"loc:id":"n79034998","nyt:id":"56992597117380105501","qs_pg:id":301367}}},"bbox":[139.279417,35.53308,140.147168,35.813461]},{"type":"Feature","geometry":{"type":"Point","coordinates":[139.69171,35.6895]},"properties":{"id":"1850144","gid":"geonames:region:1850144","layer":"region","source":"geonames","source_id":"1850144","name":"Tokyo","accuracy":"centroid","country":"Japan","country_gid":"whosonfirst:country:85632429","country_a":"JPN","region":"Tokyo","region_gid":"whosonfirst:region:85672817","region_a":"TK","continent":"Asia","continent_gid":"whosonfirst:continent:102191569","label":"Tokyo, Japan","addendum":{"geonames":{"feature_code":"ADM1"}}}},{"type":"Feature","geometry":{"type":"Point","coordinates":[139.548956,35.736231]},"properties":{"id":"102031337","gid":"whosonfirst:locality:102031337","layer":"locality","source":"whosonfirst","source_id":"102031337","name":"Nishitoukyou-shi","accuracy":"centroid","country":"Japan","country_gid":"whosonfirst:country:85632429","country_a":"JPN","region":"Tokyo","region_gid":"whosonfirst:region:85672817","region_a":"TK","county":"Nishitokyo","county_gid":"whosonfirst:county:1108741753","locality":"Nishitoukyou-shi","locality_gid":"whosonfirst:locality:102031337","continent":"Asia","continent_gid":"whosonfirst:continent:102191569","label":"Nishitoukyou-shi, TK, Japan","addendum":{"concordances":{"fct:id":"134009c4-8f76-11e1-848f-cfd5bf3ef515","gn:id":1850692,"gp:id":24854464,"qs_pg:id":1113282}}},"bbox":[139.498901367,35.7063774089,139.580468267,35.7711281682]},{"type":"Feature","geometry":{"type":"Point","coordinates":[139.773297,35.544179]},"properties":{"id":"way/322815282","gid":"openstreetmap:venue:way/322815282","layer":"venue","source":"openstreetmap","source_id":"way/322815282","name":"東京国際空港","accuracy":"point","country":"Japan","country_gid":"whosonfirst:country:85632429","country_a":"JPN","region":"Tokyo","region_gid":"whosonfirst:region:85672817","region_a":"TK","county":"Ota","county_gid":"whosonfirst:county:1108741701","county_a":"OT","locality":"Tokyo","locality_gid":"whosonfirst:locality:102031307","borough":"Ōta","borough_gid":"whosonfirst:borough:1762721425","borough_a":"OT","continent":"Asia","continent_gid":"whosonfirst:continent:102191569","label":"東京国際空港, Tokyo, Japan","addendum":{"osm":{"iata":"HND","icao":"RJTT","wikidata":"Q204853","wikipedia":"ja:東京国際空港","operator":"東京空港事務所","website":"http://www.haneda-airport.jp/","phone":"+81-03-5757-8111","opening_hours":"24/7"}}},"bbox":[139.7520598,35.5209509,139.825993,35.5704477]},{"type":"Feature","geometry":{"type":"Point","coordinates":[139.745789,35.658384]},"properties":{"id":"relation/4247312","gid":"openstreetmap:venue:relation/4247312","layer":"venue","source":"openstreetmap","source_id":"relation/4247312","name":"東京タワー","accuracy":"point","country":"Japan","country_gid":"whosonfirst:country:85632429","country_a":"JPN","region":"Tokyo","region_gid":"whosonfirst:region:85672817","region_a":"TK","county":"Minato","county_gid":"whosonfirst:county:1108741683","locality":"Tokyo","locality_gid":"whosonfirst:locality:102031307","borough":"Minato","borough_gid":"whosonfirst:borough:1762721407","continent":"Asia","continent_gid":"whosonfirst:continent:102191569","label":"東京タワー, Tokyo, Japan","addendum":{"osm":{"wikidata":"Q183536","wikipedia":"ja:東京タワー","website":"https://www.tokyotower.co.jp/"}}},"bbox":[139.7456043,35.6582014,139.7459438,35.6585907]},{"type":"Feature","geometry":{"type":"Point","coordinates":[139.807025,35.679421]},"properties":{"id":"relation/12077221","gid":"openstreetmap:venue:relation/12077221","layer":"venue","source":"openstreetmap","source_id":"relation/12077221","name":"東京都現代美術館","housenumber":"江東区三好４－１－１","street":"美術館通り","postalcode":"135-0022","accuracy":"point","country":"Japan","country_gid":"whosonfirst:country:85632429","country_a":"JPN","region":"Tokyo","region_gid":"whosonfirst:region:85672817","region_a":"TK","county":"Koto","county_gid":"whosonfirst:county:1108741695","locality":"Tokyo","locality_gid":"whosonfirst:locality:102031307","borough":"Kōtō","borough_gid":"whosonfirst:borough:1762721419","continent":"Asia","continent_gid":"whosonfirst:continent:102191569","label":"東京都現代美術館, Tokyo, Japan","addendum":{"osm":{"wikidata":"Q1649688","wikipedia":"ja:東京都現代美術館","operator":"東京都歴史文化財団","website":"https://www.mot-art-museum.jp/","phone":"+81-3-52454111","opening_hours":"Tu-Su 10:00-18:00; Mo off"}}},"bbox":[139.8070225,35.6793752,139.8091122,35.6802148]},{"type":"Feature","geometry":{"type":"Point","coordinates":[139.873851,35.66345]},"properties":{"id":"way/536806703","gid":"openstreetmap:venue:way/536806703","layer":"venue","source":"openstreetmap","source_id":"way/536806703","name":"地下鉄博物館","housenumber":"1","postalcode":"134-0084","accuracy":"point","country":"Japan","country_gid":"whosonfirst:country:85632429","country_a":"JPN","region":"Tokyo","region_gid":"whosonfirst:region:85672817","region_a":"TK","county":"Edogawa","county_gid":"whosonfirst:county:1108741729","locality":"Tokyo","locality_gid":"whosonfirst:locality:102031307","borough":"Edogawa","borough_gid":"whosonfirst:borough:1762721453","continent":"Asia","continent_gid":"whosonfirst:continent:102191569","label":"地下鉄博物館, Tokyo, Japan","addendum":{"osm":{"wikidata":"Q11424081","wikipedia":"ja:地下鉄博物館","operator":"Metro Cultural Foundation","website":"http://www.chikahaku.jp/","phone":"+81 3 3878-5011","opening_hours":"Tu-Su 10:00-17:00"}}},"bbox":[139.8733592,35.6634009,139.8750678,35.6636869]},{"type":"Feature","geometry":{"type":"Point","coordinates":[139.811009,35.710131]},"properties":{"id":"way/288269147","gid":"openstreetmap:venue:way/288269147","layer":"venue","source":"openstreetmap","source_id":"way/288269147","name":"東京スカイツリー","housenumber":"13","postalcode":"131-0045","accuracy":"point","country":"Japan","country_gid":"whosonfirst:country:85632429","country_a":"JPN","region":"Tokyo","region_gid":"whosonfirst:region:85672817","region_a":"TK","county":"Sumida","county_gid":"whosonfirst:county:1108741693","locality":"Tokyo","locality_gid":"whosonfirst:locality:102031307","borough":"Sumida","borough_gid":"whosonfirst:borough:1762721417","continent":"Asia","continent_gid":"whosonfirst:continent:102191569","label":"東京スカイツリー, Tokyo, Japan","addendum":{"osm":{"wikidata":"Q57965","wikipedia":"ja:東京スカイツリー","website":"http://www.tokyo-skytree.jp/","opening_hours":"Mo-Su 08:00-22:00"}}},"bbox":[139.8104009,35.7097913,139.8110268,35.7102997]},{"type":"Feature","geometry":{"type":"Point","coordinates":[2.296692,48.864612]},"properties":{"id":"way/79219351","gid":"openstreetmap:venue:way/79219351","layer":"venue","source":"openstreetmap","source_id":"way/79219351","name":"Palais de Tokyo","accuracy":"point","country":"France","country_gid":"whosonfirst:country:85633147","country_a":"FRA","macroregion":"Ile-of-France","macroregion_gid":"whosonfirst:macroregion:404227465","macroregion_a":"IF","region":"Paris","region_gid":"whosonfirst:region:85683497","region_a":"VP","localadmin":"Paris","localadmin_gid":"whosonfirst:localadmin:1159322569","locality":"Paris","locality_gid":"whosonfirst:locality:101751119","borough":"16th Arrondissement","borough_gid":"whosonfirst:borough:1158894265","neighbourhood":"Chaillot","neighbourhood_gid":"whosonfirst:neighbourhood:85873973","continent":"Europe","continent_gid":"whosonfirst:continent:102191581","label":"Palais de Tokyo, Paris, France","addendum":{"osm":{"wikidata":"Q1535247","wikipedia":"fr:Palais de Tokyo","website":"https://www.palaisdetokyo.com/","phone":"+33147235401","opening_hours":"Mo-Su 12:00-24:00; Tu off; Jan 01 off; May 01 off; Dec 25 off; Dec 24 12:00- 18:00; Dec 31 12:00- 18:00"}}},"bbox":[2.2959055,48.8635768,2.296919,48.8646402]},{"type":"Feature","geometry":{"type":"Point","coordinates":[139.78833,35.682416]},"properties":{"id":"way/181397413","gid":"openstreetmap:venue:way/181397413","layer":"venue","source":"openstreetmap","source_id":"way/181397413","name":"東京シティエアターミナル","housenumber":"1","postalcode":"103-0015","accuracy":"point","country":"Japan","country_gid":"whosonfirst:country:85632429","country_a":"JPN","region":"Tokyo","region_gid":"whosonfirst:region:85672817","region_a":"TK","county":"Chuo","county_gid":"whosonfirst:county:1108741681","locality":"Tokyo","locality_gid":"whosonfirst:locality:102031307","borough":"Chūō","borough_gid":"whosonfirst:borough:1762721405","continent":"Asia","continent_gid":"whosonfirst:continent:102191569","label":"東京シティエアターミナル, Tokyo, Japan","addendum":{"osm":{"wheelchair":"yes","wikidata":"Q7813848","wikipedia":"ja:東京シティエアターミナル","operator":"東京シティ・エアターミナル株式会社","website":"http://www.tcat-hakozaki.co.jp/","phone":"+81 3 36657220","opening_hours":"Mo-Su 04:45-23:59"}}},"bbox":[139.7865814,35.6814295,139.7884967,35.6826565]}],"bbox":[2.2959055,35.5209509,140.147168,48.8646402]}