In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
# URL of the Wikipedia page
url = "https://en.wikipedia.org/wiki/Madrid"

In [3]:
# Send a GET request to fetch the raw HTML content
response = requests.get(url)
response.raise_for_status()  # Check if the request was successful

In [4]:
# Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(response.text, 'lxml')

In [11]:
# Find the specific table you want to scrape
# Here, we assume you want the first table with class 'wikitable'
table = soup.find_all('table', {'class': 'wikitable'})

In [12]:

# Read the HTML table into a pandas DataFrame
df = pd.read_html(str(table[1]))[0]

/var/folders/8s/v2fgqj157gb38qv2k5vqv8vw0000gn/T/ipykernel_58381/3951300680.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table[1]))[0]

In [13]:
# Display the first few rows of the DataFrame
display(df.head())

     District  Population (1 Jan 2020)[127]  Area (ha)
0      Centro                        140991     522.82
1  Arganzuela                        156176     646.22
2      Retiro                        120873     546.62
3   Salamanca                        148405     539.24
4   Chamartín                        148039     917.55

In [14]:
# Optionally, save the DataFrame to a CSV file
df.to_csv('madrid_table.csv', index=False)